# Core
fastapi[standard]
uvicorn[standard]
python-dotenv

# Database
pymongo
motor

# Data Validation
pydantic[email]
email-validator

# Authentication & Security
passlib=1.7.4
bcrypt=3.2.2
python-jose[cryptography]

# Kafka
kafka-python

# Development
pytest
httpx
pytest-asyncio
pytest-cov